<div class="h-full px-6 py-8 overflow-y-auto bg-gradient-to-r from-indigo-50 to-indigo-100">
    <div class="max-w-md mx-auto overflow-hidden bg-white shadow-md rounded-xl md:max-w-2xl">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img src="images/mytrip.jpg" alt="Man looking at item at a store" class="w-full h-48 object-cover md:w-48">
            </div>
            <div class="p-8">
                <div class="text-sm font-semibold text-indigo-500 uppercase tracking-wide">Case study</div>
                <a href="#" class="block mt-1 text-lg font-medium text-black hover:underline leading-tight">Finding customers for your new business</a>
                <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
            </div>
        </div>
    </div>
</div>